@import "./vendors/normalize";
@import "./abstracts/function";
@import "./abstracts/variables";
@import "./abstracts/mixin";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/footer";
@import "./layout/header";
@import "./pages/about";
@import "./pages/plan";
.hero__container {
  background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1180px;
}

.hero__left {
  color: $light-cream;
  width: 100%;
  max-width: 590px;
  padding: 5rem 0 8rem 8.5rem;
}

.hero__left h1 {
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-family: $secondary-font;
  font-weight: 900;
}

.hero__left p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: $main-font;
  font-weight: 400;
  padding-bottom: 5.6rem;
  max-width: 445px;
  width: 100%;
}

// MAIN START
.our-collection-bg {
  background-image: url(../images/home/desktop/our-collection.svg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1111px;
  width: 100%;
  height: 195px;
  position: relative;
  top: 5rem;
}

.coffee-type-main {
  display: flex;
  gap: 3rem;
}

.coffee-type__image {
  width: 255px;
  height: 195px;
}

.coffee-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-type__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-type__heading {
  font-family: $secondary-font;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $dark-grey-blue;
  padding: 7.1rem 3rem 2.4rem 3rem;
}

.coffee-type__description {
  font-family: $main-font;
  text-align: center;
  color: $dark-grey-blue;
  letter-spacing: 1px;
}

.our-collection-main {
  padding-bottom: 10rem;
}

// SECTION WHY US
.why-us {
  margin-top: 10rem;
  color: $light-cream;
  text-align: center;
}

.why-us__container {
  background-image: url(../images/plan/desktop/bg-order-summary.png);
  background-color: $dark-grey-blue;
  border-radius: 10px;
  padding: 10rem 8.5rem 0 8.5rem;
  background-size: cover;
  background-position: center;
}

.why-us__content {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.container {
}

.why-us__title {
  margin-bottom: 3.2rem;
  font-size: 4rem;
  line-height: 1.2rem;
}

.why-us__description {
}

.why-us__features {
}

.why-us__features__items {
}

.why-us__features__item__image {
}

.why-us__features__item__content {
}

.why-us__features__item__title {
}

.why-us__features__item_description {
}

// MAIN END
// HERO MEDIA RESPONSE START
@media screen and (max-width: 768px) {
  .hero__container {
    background-image: url(../images/home/tablet/image-hero-coffeepress.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 689px;
  }
  .hero__left {
    width: 100%;
    max-width: 390px;
    padding: 5.4rem 0 8.4rem 5.8rem;
  }
  .hero__left h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .hero__left p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 4rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 400px) {
  .hero__container {
    background-image: url(../images/home/mobile/image-hero-coffeepress.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero__left {
    padding: 10rem 1.2rem;
    text-align: center;
  }
  .hero__left h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .hero__left p {
    padding-top: 2.4rem;
  }
}

// HERO MEDIA RESPONSE END
// MAIN PART MEDIA RESPONSE
@media screen and (max-width: 768px) {
  .our-collection-bg {
    background-image: url(../images/home/tablet/our-collec-bg-tablet.svg);
  }
  .coffee-type-main {
    display: flex;
    flex-direction: column;
  }
  .coffee-type {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .coffee-type__heading {
    padding-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .our-collection-bg {
    background-image: url(../images/home/mobile/our-collec-bg-mobile.svg);
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .coffee-type-main {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  .coffee-type {
    display: flex;
    flex-direction: column;
  }
}
