.about-hero {
}

.about-hero__container {
  background-image: url(../images/about/desktop/image-hero-whitecup.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  max-width: 1280px;
  width: 100%;
}

.about-hero__left {
  color: $light-cream;
  width: 100%;
  max-width: 445px;
  padding: 13.7rem 0 13.7rem 8.5rem;
}

.about-hero__left h1 {
  font-size: 4rem;
  line-height: 4.8rem;
  font-family: $secondary-font;
  font-weight: 900;
}

// OUR COMMIT SECTION
.our-commit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.9rem;
  margin-top: 14.4rem;
}

.our-commit_image {
  border-radius: 8px;
}

.our-commit__text {
  max-width: 540px;
  width: 100%;
}

.our-commit__title {
  font-family: $secondary-font;
  font-family: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 1px;
}

.our-commit__description {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
  padding-top: 3.2rem;
}

// UNCOMPRESS SECTION
.uncompress-main {
  padding-top: 0;
}

.uncompress__image {
  position: relative;
  top: 37rem;
  left: 75rem;
  border-radius: 8px;
}

.uncompress__bg {
  background-color: $dark-grey-blue;
  color: $light-cream;
  border-radius: 10px;
}

.uncompress__title {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 1px;
  color: $light-cream;
}

.uncompress__text {
  padding: {
    top: 8.8rem;
    bottom: 17.6rem;
    left: 8.5rem;
  }
}

.uncompress__description {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
  color: $light-cream;
  max-width: 540px;
  width: 100%;
  padding-top: 3.2rem;
}

// HEADQUARTERS SECTION
.headquarters {
  padding: {
    left: 15rem;
    right: 30rem;
  }
}

.headquarters__title {
  margin-top: 14.4rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $grey;
}

.headquarters__countries {
  display: flex;
  justify-content: space-between;
}

.countries {
}

.countries__info {
}

.countries__map {
  margin-top: 7.2rem;
}

.countries__name {
  padding: 4.9rem 0 2.1rem 0;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: $dark-grey-blue;
}

.countries__address {
}

.countries__tel {
  color: $dark-grey-blue;
}

// HERO MEDIA RESPONSE START
@media screen and (max-width: 768px) {
  .about-hero__container {
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 689px;
  }
  .about-hero__left {
    width: 100%;
    max-width: 390px;
    padding: 11.8rem 0 11.8rem 5.8rem;
  }
  .about-hero__left h1 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .about-hero__left p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .our-commit {
    justify-content: space-between;
    gap: 2rem;
  }
  .our-commit__text {
    max-width: 339px;
    width: 100%;
    text-align: center;
  }
  .uncompress__image {
    position: relative;
    top: 18rem;
    left: 10rem;
    border-radius: 8px;
  }
  .uncompress__text {
    padding-top: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: {
      top: 22.8rem;
      bottom: 7.6rem;
      left: 2.5rem;
    }
  }
  .uncompress__title {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .uncompress__description {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .headquarters {
    padding: {
      left: 5rem;
      right: 5rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .about-hero__container {
    background-image: url(../images/about/mobile/image-hero-whitecup.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 327px;
  }
  .about-hero__left {
    padding: 7rem 0 8.7rem 0rem;
    text-align: center;
  }
  .about-hero__left h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .about-hero__left p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 2.4rem;
    letter-spacing: 1px;
  }
  .our-commit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
  }
  .our-commit__title {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  .uncompress__image {
    position: relative;
    top: 20rem;
    left: 3rem;
    border-radius: 8px;
    max-width: 260px;
    width: 100%;
  }
  .uncompress__title {
    text-align: center;
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .headquarters__title {
    text-align: center;
  }
  .headquarters__countries {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .countries__name {
    padding: {
      left: 10rem;
      right: 10rem;
    }
    text-align: center;
  }
  .countries__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .countries__address {
    text-align: center;
  }
}

// HERO MEDIA RESPONSE END
