.hero__container {
  background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  max-width: 1280px;
  width: 100%;
}

.hero__left {
  color: $light-cream;
  width: 100%;
  max-width: 590px;
  padding: 5rem 0 8rem 8.5rem;
}

.hero__left h1 {
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-family: $secondary-font;
  font-weight: 900;
}

.hero__left p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: $main-font;
  font-weight: 400;
  padding-bottom: 5.6rem;
  max-width: 445px;
  width: 100%;
}

// MAIN START
.our-collection-main {
  margin-top: 10rem;
}

.our-collection-bg {
  background-image: url(../images/home/desktop/our-collection.svg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1111px;
  width: 100%;
  height: 195px;
  position: relative;
  left: 10rem;
}

.coffee-type-main {
  display: flex;
  gap: 3rem;
}

.coffee-type__image {
  width: 255px;
  height: 195px;
}

.coffee-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-type__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-type__heading {
  font-family: $secondary-font;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $dark-grey-blue;
  padding: 7.1rem 3rem 2.4rem 3rem;
}

.coffee-type__description {
  font-family: $main-font;
  text-align: center;
  color: $dark-grey-blue;
  letter-spacing: 1px;
}

.our-collection-main {
  padding-bottom: 10rem;
}

// SECTION WHY US
.why-us {
  margin-top: 10rem;
  color: $light-cream;
  text-align: center;
}

.why-us__container {
  background-image: url(../images/plan/desktop/bg-order-summary.png);
  background-color: $dark-grey-blue;
  border-radius: 10px;
  padding: 10rem 8.5rem 0 8.5rem;
  background-size: cover;
  background-position: center;
}

.why-us__content {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.why-us__title {
  margin-bottom: 3.2rem;
  font-size: 4rem;
  line-height: 1.2rem;
}

.why-us__description {
  opacity: 0.8;
  margin-bottom: 8.6rem;
}

.why-us__features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  transform: translateY(150px);
  margin-top: -150px;
}

.why-us__features__items {
  background-color: $dark-cyan;
  padding: 7.2rem 4.8rem 4.8rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.why-us__features__item__image {
  margin-bottom: 5.6rem;
  align-self: center;
}

.why-us__features__item__content {
}

.why-us__features__item__title {
  margin-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  line-height: 1.3rem;
}

.why-us__features__item_description {
}

// HOW WORKS SECTION START
.how-works {
  margin-top: 26rem;
}

.how-works__line {
  display: flex;
  align-items: center;
  gap: 32rem;
  background-color: $pale-orange;
  height: 2px;
  width: 73rem;
  margin-top: 5rem;
}

.how-works__round {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid $dark-cyan;
}

.how-works__steps-main {
  display: flex;
  margin-top: 6.7rem;
  gap: 10rem;
  margin-bottom: 4.4rem;
}

.how-works__step {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
}

.how-works__step-order {
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-family: $secondary-font;
  color: $pale-orange;
  font-weight: 900;
}

.how-works__step-title {
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-family: $secondary-font;
  font-weight: 900;
  color: $dark-grey-blue;
  padding: 3.8rem 0 4.3rem 0;
}

.how-works__step-description {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
}

// MAIN END
// HERO MEDIA RESPONSE START
@media screen and (max-width: 768px) {
  .hero__container {
    background-image: url(../images/home/tablet/image-hero-coffeepress.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 689px;
  }
  .hero__left {
    width: 100%;
    max-width: 390px;
    padding: 5.4rem 0 8.4rem 5.8rem;
  }
  .hero__left h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .hero__left p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 4rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 400px) {
  .hero__container {
    background-image: url(../images/home/mobile/image-hero-coffeepress.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .hero__left {
    padding: 10rem 1.2rem;
    text-align: center;
  }
  .hero__left h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .hero__left p {
    padding-top: 2.4rem;
  }
  .how-works {
    text-align: center;
    margin-top: 12rem;
  }
  .how-works__line {
    display: none;
  }
  .how-works__steps-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .how-works__step-order {
    text-align: center;
  }
}

// HERO MEDIA RESPONSE END
// MAIN PART MEDIA RESPONSE
@media screen and (max-width: 768px) {
  .our-collection-bg {
    background-image: url(../images/home/tablet/our-collec-bg-tablet.svg);
    position: relative;
    left: 1rem;
  }
  .coffee-type-main {
    display: flex;
    flex-direction: column;
  }
  .coffee-type {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .coffee-type__heading {
    padding-top: 0;
  }
  .why-us {
    text-align: left;
  }
  .why-us__content {
    text-align: center;
  }
  .why-us__container {
    padding: 5.6rem 5.8rem 0 5.8rem;
  }
  .why-us__title {
    font-size: 3.2rem;
  }
  .why-us__features__item__image {
    margin-bottom: 0;
  }
  .why-us__features__item_description {
    font-size: 1.5rem;
  }
  .why-us__description {
    margin-bottom: 7rem;
  }
  .why-us__features__item__title {
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
  }
  .why-us__features__items {
    flex-direction: row;
    align-items: center;
    gap: 5.5rem;
    padding: 4.1rem 4.8rem;
  }
}

@media screen and (max-width: 400px) {
  .our-collection-bg {
    background-image: url(../images/home/mobile/our-collec-bg-mobile.svg);
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .coffee-type-main {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  .coffee-type {
    display: flex;
    flex-direction: column;
  }
  .why-us__container {
    margin-top: 0rem;
  }
  .why-us__container {
    padding: {
      top: 6.4rem;
      left: 2.4rem;
      right: 2.4rem;
    }
  }
  .why-us__title {
    font-size: 2.8rem;
    line-height: 1.1rem;
  }
  .why-us__description {
    margin-bottom: 6.4rem;
  }
  .why-us__features {
    grid-template-columns: 1fr;
  }
  .why-us__features__items {
    flex-direction: column;
    padding: 7.2rem 1.2rem 4.8rem 1.2rem;
    text-align: center;
    gap: 0;
  }
  .why-us__features__item__image {
    margin-bottom: 5.6rem;
  }
  .why-us__features__item__title {
    margin-bottom: 2.4rem;
  }
}
