$dark-cyan: #0e8784;
$dark-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$grey: #83888f;
$light-grey: #f4f1eb;
$main-font: "Barlow", san-serif;
$secondary-font: "Fraunces", cursive;
$hover-color: #66d2cf;
